{% extends "layouts/base.twig" %}

{% set main_class = 'error' %}

{% block head %}
<script>
    setTimeout(function(){
        window.location.reload();
    }, 30000);
</script>
{% endblock %}

{% block corset %}
    <div>
        <h1>{{ _e( 'Maintenance', 'Exultant') }}</h1>
        <div><p>{{ _e( "The site is currently down for maintenance. Try again in a few minutes.", 'Exultant' ) }}</p></div>
    </div>
{% endblock %}
