#fonts() {
  .icons() {
    font-weight: 900;
    font-family: 'Line Awesome Free', monospace;
  }
  .iconsB() {
    font-family: 'Line Awesome Brands', monospace;
  }
  .headingFont() {
    font-family: adobe-garamond-pro, serif;
    font-style: normal;
    font-weight: 400;
  }
  .headerFormat() {
    #fonts.headingFont;
    font-size: 2.3em;
    padding: 0 0 .5em;

    @media (min-width: @iconicNavThreshold) {
      font-size:3em;
    }
  }
}

@tenthGreen: #49917b;
@validationErrorColor: #d00;
@secondaryBtnBgColor: #aaa;
@secondaryBtnFgColor: #fff;

@sectionPadding: 1em;
@corsetPadding: 1.6 * @sectionPadding;

@headerMaxWidth: 1400px;
@contentMaxWidth: 1400px;
@footerMaxWidth: 1400px;

@iconicNavThreshold: 700px;
@reallyNarrow: 835px;

@transitionTime: 0.3s;

@logoImg: "assets/logos/left-aligned-optimized.svg";
