.icons {
  font-weight: 900;
  font-family: 'Line Awesome Free', monospace;
}
.iconsB {
  font-family: 'Line Awesome Brands', monospace;
}
.headingFont {
  font-family: adobe-garamond-pro, serif;
  font-style: normal;
  font-weight: 400;
}

@tenthGreen: #49917b;
@validationErrorColor: #d00;

@sectionPadding: 1em;
@corsetPadding: 1.6 * @sectionPadding;

@headerMaxWidth: 1200px;
@footerMaxWidth: 1200px;
@contentMaxWidth: 800px;

@iconicNavThreshold: 835px;
@reallyNarrow: 835px;

@transitionTime: 0.3s;

@logoImg: "assets/logos/left-aligned-optimized.svg";
