article.archive {

  .archiveHeader {
    padding-top: 2em;
  }

  div.archive-type-label {
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    color: @tenthGreen;
    margin: 0;
    padding-bottom: 2em;
  }

  &.post-type-Person {
    .bio {
      font-size: 0.9em;
      opacity: .9;
    }

    section.article-content > .profile-core.withPicture {
      @media (min-width: @iconicNavThreshold) {
        display: grid;
        grid-template-columns: 11em auto;
      }
    }

    img.personProfilePic {
      max-width: 8em;
      float: left;
      padding: 0 1em 1em 0;

      @media (min-width: @iconicNavThreshold) {
        max-width: 10em;
        float: none;
        padding: 0;
      }

      @media (max-width: @reallyReallyNarrow) {
        max-width: 4em;
        max-height: 4em;
      }
    }
  }

  .filterBar {
    text-align: center;
  }
}

.box-list {
  & {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
  }

  & > h2 {
    // e.g. Tense headings for involvements
    padding: 0 0.8em;
    flex: 1 1 100%;
  }

  & > article {
    @boxWidth: 350px;

    box-shadow: 10px 10px 20px #00000033;
    position: relative;
    padding: 0.8em;
    border-bottom: 2px solid transparent;
    height: 100%;
    flex: 1 1 @boxWidth;
    max-width: @boxWidth * 1.5;

    img.partner-thumbnail {
      float: right;
      margin-left: 1em;
      max-width: 8em;
      max-height: 8em;
    }

    h2 {
      margin: 0;
      padding: 0;
    }

    h2 a {
      text-decoration: none;
    }

    .partner-actions,
    .involvement-actions {
      padding-top: .5em;
      text-align: right;
    }
  }
}
