@import (reference) "_mixins";

nav#breadcrumbs {
  @media (max-width: @reallyNarrow) {
    display: none;
  }

  @boxHeight: 1.2em;
  @vPadding: .6em;

  & {
    position: relative;
    z-index: 1;
    line-height: @boxHeight;
    vertical-align: bottom;
    padding: @vPadding @sectionPadding;
    width: 100%;
    font-size: .8em;
    max-width: @headerMaxWidth;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(-2 * @vPadding - @boxHeight);

    opacity: .6;
    transition: opacity 1s, background-color 4s;

    color: @bodyColor;
  }

  &.with-feature {
    pointer-events: none;
    color: @contentBackgroundColor;
    .textStroke(#000);
  }

  &.without-feature {
    background-color: @contentBackgroundColor;
  }
  &.without-feature:hover {
    background-color: @white;
  }

  &:hover {
    opacity: 100%;
  }

  &.with-feature::before {
    content: ' ';
    font-size: calc(1em / .8); // compensate for nav font-size of .8em
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
    z-index: -27;
    height: 3em;
    position: absolute;
    display: block;
    top: 0;
    right: -1em;
    left: -1em;
    mix-blend-mode: darken;
  }

  & > * {
    height: @boxHeight;
    display: inline-block;
    vertical-align: bottom;

    pointer-events: all;

    opacity: .6;
    transition: opacity .3s
  }

  & > span {
    padding: 0 .5em 0 .4em;
  }

  & > a:hover {
    opacity: 1;
  }

  a:link,
  a:visited {
    color: #999;
  }

  a.home {
    position: relative;
  }

  a.home::after {
    content: data-uri("image/svg+xml;charset=UTF-8", @logoIconImg);
    background-repeat: no-repeat;
    background-size: contain;
    width: @boxHeight;
    height: @boxHeight;
    display: inline-block;
  }

  &.with-feature {
    a:link,
    a:visited {
      color: #fff;
    }

    a.home::after { // home logo
      filter: invert(1);
    }

    a.home::before { // shadow for the home logo
      content: ' ';
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      background: #000;
      border-radius: 100%;
      opacity: 36%;
    }
  }

  &.without-feature {
    a.home::after { // home logo
      opacity: 50%;
    }
  }
}