@import (reference) "_mixins";


//// External Link decoration
a[href*="//"]:not([href*='tenth.org']):not([href*='tenth.tpsdb.com']):not([href*='localhost']):not([href^='#']):not([href^='/']):after {
  content: '\f35d';
  .icons;
  opacity: 0.7;
  padding-left: .25em;
}

//// Header Bar

@linkHeight: 2em;
@linkWidth: 70px;
@headerHeight: 6em;
@headerHeight_reallyNarrow: 3em;
@headerLinkFontSize: inherit;

header[role="banner"],
header[role="banner"]::before {
  width: 100%;
  margin-top: 0;
  height: @headerHeight;
  transition: height 0.3s;

  @media (max-width: @reallyNarrow) {
    height: @headerHeight_reallyNarrow;
  }
}

header[role="banner"]::before {
  content: ' ';
  display: block;
  background-color: #f7f7f7;
  position: fixed;
}

header[role="banner"] {
  & {
    top: 0;
  }

  &.static {
    top: 0;
    position: fixed;
    height: @linkHeight + 4px;
    z-index: 1000;

    div#pageLogo {
      @logoHeight: @linkHeight;

      a#pageLogoMark {
        height: @logoHeight;
        width: @logoHeight;
        bottom: 0;
      }

      a#pageLogoText {
        height: @logoHeight;
        width: @logoHeight*2309/865;
        bottom: 0;
      }
    }
  }

  & {
    div#pageLogo {
      display: block;
      background-size: 300px @linkHeight;
      //width: 300px;
      position: absolute;
      top: 2px;
      left: 4px;
      height: auto;
      bottom: 2px;
      z-index: 2000;
      //transition-delay: 2s;

      a#pageLogoText,
      a#pageLogoMark {
        position: absolute;
        bottom: 0;
        left: 0;
        transition: background 2s, rotation 0.6s, transform 0.6s, height 0.2s, width 0.2s;
      }

      @logoHeight: 105px;

      a#pageLogoMark {
        height: @logoHeight;
        width: @logoHeight;
      }

      a#pageLogoText {
        height: @logoHeight;
        width: @logoHeight*2309/865;
      }
    }
  }

  //// Top Nav
  nav {
    & {
      position: fixed;
      top: 0;
      right: @corsetPadding*.5;
      left: @corsetPadding*.5;
      text-align: right;
      padding: 0;
      margin: 0;
      z-index: 100;
    }

    * {
      transition: color 0.2s, background 0.2s;
    }

    div, li {
      /* All lis in Nav */
      text-align: center;
      list-style-type: none;
      display: inline-block;
    }

    a, span, input {
      /* All links in Nav */
      margin: 0;
      text-decoration: none;
      display: block;
      font-size: @headerLinkFontSize;
    }

    a, label {
      /* Links and Icons */
      color: @tenthGreen;
    }

    & > div li small { /* captions & clarifiers */
      font-size: 0.7em;
      opacity: 0.7;
    }


    //// SEARCH
    input:focus {
      outline: none;
    }

    input[type='submit'] {
      display: none;
    }

    input[type='search'] {
      border: none;
      background: transparent;
      padding: @sectionPadding 0 @sectionPadding @sectionPadding;
      width: 5em;
    }


    @media (min-width: @iconicNavThreshold) {
      /* non-iconic nav */
      & > div > label {
        /* first level links (menu, user, etc) */
        display: none;
      }

      & > div > ul,
      & > div > div {
        /* second level sub-lists (home, about) */
        padding: 0;
        margin: 0;
      }

      & > div > ul > li,
      & > div > div > div {
        /* second level list item (about) */
        float: left;
        overflow: hidden;
        position: relative;
        background-color: #ffffff00;
      }

      & > div > ul > li:hover,
      & > div > div > div:hover,
      & > div > ul > li.current-item:hover,
      & > div > div > div.current-item:hover {
        /* second level list item (about) */
        overflow: visible;
        background-color: #ffffffff;
      }

      & > div > ul > li.current-item,
      & > div > div > div.current-item,
      & > div > ul > li.current-ancestor,
      & > div > div > div.current-ancestor {
        /* second level list item (about) */
        background-color: #ffffff99;
        border-bottom: solid 2px @tenthGreen;
        border-radius: 0 0 2px 2px;
      }

      & > div > ul > li > a,
      & > div > ul > li > span,
      & > div > div > div > a,
      & > div > div > div > span {
        /* second level link (about) */
        display: inline-block;
        padding: @sectionPadding;
      }

      & > div > ul > li > div,
      & > div > div > div > div {
        /* third level grouping (box that descends) */
        position: absolute;
        display: flex;
        padding: .3em .5em;
        transform: translateX(-50%);
        z-index: 110;
        left: 50%;
        white-space: nowrap;
        background: #fff;

        &#userMenu {
          transform: none;
          left: auto;
          right: 0;
        }
      }

      & > div > ul > li > div > ul,
      & > div > div > div > div > ul {
        padding: 0 .4em;
      }

      & > div > ul > li > div *,
      & > div > div > div > div * {
        text-align: left;
      }

      & > div > ul > li > div > ul li,
      & > div > div > div > div > ul li {
        display: block;
      }

      & > div > ul > li > div > ul li > *,
      & > div > div > div > div > ul li > * {
        line-height: 1.5em;
      }

      & > div > ul > li > div > ul ul,
      & > div > div > div > div > ul ul {
        padding-bottom: .2em;
      }

      & > div > ul > li > div > ul > li > a,
      & > div > ul > li > div > ul > li > span,
      & > div > div > div > div > ul > li > a,
      & > div > div > div > div > ul > li > span {
        font-weight: 700;
      }

      & > div li li li li {
        font-size: 0.9em;
        padding-left: 1.2em;
      }
    }

    @media (max-width: @iconicNavThreshold) {
      /* iconic nav mode */
      a, input {
        /* All links in Nav */
        margin: 0;
        text-decoration: none;
        font-weight: bold;
        display: block;
      }

      & ul a {
        padding: 2px 0;
      }


      & > div > label {
        /* first level links (icons: menu, user, etc) */
        display: block;
        width: @linkHeight * 1.4;
        box-sizing: border-box;
        overflow: hidden;
        height: @linkHeight * 1.4;
        padding: 0;
        cursor: pointer;
      }

      & > div > label::before {
        /* first level icons */
        margin: @linkHeight * 0.4;
        display: block;
      }

      & > div > label > img {
        /* user pic */
        display: inline-block;
        width: @linkHeight;
        height: @linkHeight;
        margin: @linkHeight * 0.2;
      }

      & > div:hover > label,
      & > div.navOpen > label,
      & > div:focus > label {
        background-color: #fff;
        color: @tenthGreen;
      }

      & > div > ul,
      & > div > div {
        /* first level sub-lists (basic row) */
        position: absolute;
        display: none;
        right: 0;
        overflow: hidden;
        margin-left: @sectionPadding;
        max-width: @reallyNarrow + 2em;
        @media (min-width: @reallyNarrow) {
          max-width: @reallyNarrow/2;
        }
      }

      & > div:hover > ul,
      & > div.navOpen > ul,
      & > div:focus > ul,
      & > div:hover > div,
      & > div.navOpen > div,
      & > div:focus > div {
        /* first level sub-lists (basic row) */
        width: 100%;
        display: block;
        background: #fff;
        max-height: 85vh;
        overflow-y: auto;
      }

      & > div > ul > li {
        /* second level list */
        display: block;
        width: 100%;
        margin-left: 0;
      }

      div li {
        width: 100%;
        text-align: left;
        padding-left: @sectionPadding;
      }

      div div div,
      div div li {
        display: block;
      }

    }
  }
}
