@import (reference) "_mixins";


//// Header Bar

@linkHeight: 2em;
@linkWidth: 70px;
@headerHeight: 5.5em;
@headerHeight_reallyNarrow: 3em;
@headerLinkFontSize: inherit;

@reallyReallyNarrowAnimationTime: 1.2s;
@reallyReallyNarrowAnimationDelay: 3s;

header[role="banner"] {
  &,
  &::before {
    margin-top: 0;
    height: @headerHeight;
    transition: height @transitionTime;
    box-sizing: border-box;

    @media (max-width: @reallyNarrow) {
      height: @headerHeight_reallyNarrow;
    }
  }

  &::before {
    content: ' ';
    display: block;
    background-color: #f7f7f7f7;
    border-bottom: #eee solid 0.08em;
    width: 150vw;
    margin-left: -50vw;
  }

  & {
    z-index: 1;
    width: 100%;
    top: 0;
    max-width: @headerMaxWidth;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
  }

  &.static {
    top: 0;
    position: fixed;
    height: @linkHeight + 4px;
  }

  //// Logo
  & > h1 > a.logo {
    background-image: data-uri("image/svg+xml;charset=UTF-8", @logoImg);
    background-repeat: no-repeat;
    background-position: top left;
    transition: height @transitionTime, width @transitionTime;
    @logoHeight: @headerHeight - (@sectionPadding * 1.5);
    color: #00000000;
    box-sizing: border-box;

    position:absolute;
    height:@logoHeight;
    top:@sectionPadding * 0.75;
    left:@sectionPadding * 0.75;
    width: 4.6 * @logoHeight;

    @logoHeight_reallyNarrow: @headerHeight_reallyNarrow - (@sectionPadding * 0.8);

    @media (max-width: @reallyNarrow) {
      top:@sectionPadding * 0.4;
      left:@sectionPadding;
      height: @logoHeight_reallyNarrow;
      width: 4.6 * @logoHeight_reallyNarrow;
      background-size: (4.6 * @logoHeight_reallyNarrow) @logoHeight_reallyNarrow ;
    }

    @media (max-width: @reallyReallyNarrow) {
      animation: @reallyReallyNarrowAnimationTime ease @reallyReallyNarrowAnimationDelay forwards logoNarrowing;
      @keyframes logoNarrowing { from { width: 4.6 * @logoHeight_reallyNarrow } to { width: @logoHeight_reallyNarrow }  }
    }
  }

  //// Page Progress bar
  div#pageProgressBar {
    position:absolute;
    bottom:0;
    background-color:#ddd;
    width:100%;
    height: 0.08em;

    & > div {
      height:inherit;
      display:block;
      background-color:@tenthGreen;
    }

  }

  //// Top Nav
  nav {
    & {
      position: absolute;
      top: 0;
      right: @sectionPadding;
      text-align: right;
      padding: 0 0 0 @sectionPadding*.5;
      margin: 0;
      z-index: 100;
      display:flex;
    }

    * {
      box-sizing: border-box;
      transition:
              color @transitionTime,
              background @transitionTime,
              width @transitionTime,
              height @transitionTime,
              margin @transitionTime;
    }

    div, li {
      /* All lis in Nav */
      text-align: center;
      list-style-type: none;
      display: inline-block;
    }

    a, span, input {
      /* All links in Nav */
      margin: 0;
      text-decoration: none;
      display: block;
      font-size: @headerLinkFontSize;
    }

    a, label {
      /* Links and Icons */
      color: @tenthGreen;
    }

    & > div li small { /* captions & clarifiers */
      font-size: 0.7em;
      opacity: 0.7;
    }


    //// SEARCH
    input[type='search']:focus {
      outline: none;
      width:50vw;
    }

    input[type='submit'] {
      display: none;
    }

    @searchWidth: 3.8em + 1.6*@sectionPadding;
    input[type='search'] {
      border: none;
      background: transparent;
      padding: 0.8*@sectionPadding 0 0.8*@sectionPadding 0.8*@sectionPadding;
      margin-right:-1em;
      width: @searchWidth;
    }


    @media (min-width: @iconicNavThreshold) {
      /* non-iconic nav */
      & > div > label {
        /* first level links (menu, user, etc) */
        display: none;
      }

      & > div > ul,
      & > div > div {
        /* second level sub-lists (home, about) */
        padding: 0;
        margin: 0;
      }

      & > div > div:focus-within {
        /* second level sub-lists (home, about) */
        margin-left:calc(~"-50vw + " @searchWidth);
      }

      & > div > ul > li,
      & > div > div > div {
        /* second level list item (about) */
        float: left;
        overflow: hidden;
        position: relative;
        background-color: #ffffff00;
      }

      & > div > ul > li:hover,
      & > div > div > div:hover,
      & > div > ul > li:hover,
      & > div > div > div:hover,
      & > div > div > div:focus-within {
        /* second level list item (about) */
        overflow: visible;
        background-color: #ffffffff;
      }

      & > div > ul > li.current-item,
      & > div > div > div.current-item,
      & > div > ul > li.current-ancestor,
      & > div > div > div.current-ancestor {
        /* second level list item (about) */
        background-color: #ffffff99;
        border-bottom: solid 2px @tenthGreen;
        border-radius: 0 0 2px 2px;
      }

      & > div > ul > li > a,
      & > div > ul > li > span,
      & > div > div > div > a,
      & > div > div > div > span {
        /* second level link (about) */
        display: inline-block;
        padding: 0.8 * @sectionPadding;
      }

      & > div > ul > li > div,
      & > div > div > div > div {
        /* third level grouping (box that descends) */
        position: absolute;
        display: flex;
        padding: .3em .5em;
        transform: translateX(-50%);
        z-index: 110;
        left: 50%;
        white-space: nowrap;
        background: #fff;

        &#userMenu {
          transform: none;
          left: auto;
          right: 0;
        }
      }

      & > div > div > div:focus-within > div {
        /* third level grouping (box that descends -- in this case, for Search) */
      left: 0;
      right: 0;
      transform: none;
      }

      & > div > ul > li > div > ul,
      & > div > div > div > div > ul {
        padding: 0 .4em;
      }

      & > div > ul > li > div *,
      & > div > div > div > div * {
        text-align: left;
      }

      & > div > ul > li > div > ul li,
      & > div > div > div > div > ul li {
        display: block;
      }

      & > div > ul > li > div > ul li > *,
      & > div > div > div > div > ul li > * {
        line-height: 1.5em;
      }

      & > div > ul > li > div > ul ul,
      & > div > div > div > div > ul ul {
        padding-bottom: .2em;
      }

      & > div > ul > li > div > ul > li > a,
      & > div > ul > li > div > ul > li > span,
      & > div > div > div > div > ul > li > a,
      & > div > div > div > div > ul > li > span {
        font-weight: 700;
      }

      & > div li li li li {
        font-size: 0.9em;
        padding-left: 1.2em;
      }
    }

    @media (max-width: @iconicNavThreshold) {
      /* iconic nav mode */
      a, input {
        /* All links in Nav */
        margin: 0;
        text-decoration: none;
        font-weight: bold;
        display: block;
      }

      & ul a {
        padding: 2px 0;
      }

      @media (max-width: @reallyReallyNarrow) {
        opacity: 0;
        animation: @reallyReallyNarrowAnimationTime ease @reallyReallyNarrowAnimationDelay forwards MenuRevealing;
        @keyframes MenuRevealing {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }


      & > div > label {
        /* first level links (icons: menu, user, etc) */
        display: block;
        width: @linkHeight * 1.4;
        box-sizing: border-box;
        overflow: hidden;
        height: @linkHeight * 1.4;
        padding: 0;
        cursor: pointer;
      }

      & > div > label::before {
        /* first level icons */
        margin: @linkHeight * 0.4;
        display: block;
      }

      & > div > label > img {
        /* user pic */
        display: inline-block;
        width: @linkHeight;
        height: @linkHeight;
        margin: @linkHeight * 0.2;
      }

      & > div:hover > label,
      & > div.navOpen > label,
      & > div:focus > label,
      & > div:focus-within > label {
        background-color: #fff;
        color: @tenthGreen;
      }

      & > div > ul,
      & > div > div {
        /* first level sub-lists (basic row) */
        position: absolute;
        display: none;
        right: 0;
        overflow: hidden;
        margin-left: @sectionPadding;
        max-width: @reallyNarrow + 2em;
        @media (min-width: @reallyNarrow) {
          max-width: @reallyNarrow/2;
        }
      }

      & > div:hover > ul,
      & > div.navOpen > ul,
      & > div:focus > ul,
      & > div:focus-within > ul,
      & > div:hover > div,
      & > div.navOpen > div,
      & > div:focus > div,
      & > div:focus-within > div {
        /* first level sub-lists (basic row) */
        width: calc(~"100vw - " (@sectionPadding * 2));
        display: block;
        background: #fff;
        max-height: 85vh;
        overflow-y: auto;

        input[type=search] {
          width: 100%;
        }
      }

      & > div > ul > li {
        /* second level list */
        display: block;
        width: 100%;
        margin-left: 0;
      }

      div li {
        width: 100%;
        text-align: left;
        padding-left: @sectionPadding;
      }

      div div div,
      div div li {
        display: block;
      }

    }
  }
}
