@import (reference) "header";
@import (reference) "footer";
@import (reference) "_mixins";

body, input {
  #fonts.bodyFont();
  color: fade(#000, 90%);
}

* {
  box-sizing: border-box;
}

body {
  margin: @headerHeight 0 0;
  background-color: @bodyBackgroundColor;

  transition: margin @transitionTime;

  @media (max-width: @reallyNarrow) {
    margin-top: @headerHeight_reallyNarrow;
  }

  overflow-x: hidden;

  p {
    margin-bottom: 1em;
  }

  *:focus {
    outline: 1px solid darken(@tenthGreen, 20%); // TODO why does this exist?
    z-index: 1;
  }

}

main {
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: @mainMaxWidth;
  width: 100%;
  padding: 0 @sectionPadding;
  box-sizing: border-box;

  *:first-child {
    padding-top: 0;
  }

  min-height: calc(~"100vh - " (@headerHeight + @footerMinHeight));
  @media (max-width: @reallyNarrow) {
    min-height: calc(~"100vh - " (@headerHeight_reallyNarrow + @footerMinHeight));
  }

  & > * {
    background: @contentBackgroundColor;
    padding: @sectionPadding;
    box-shadow: #d9d9d9 0 0 @corsetPadding*2 0;
    margin-bottom: @sectionPadding * 2;
    //max-width: @articleMaxWidth; TODO re-impose when sidebar nav is present.
  }

  // 404, etc.
  &.error {
    max-width: 500px;
    text-align:center;

    & > * {
      position: absolute;
      top:40%;
      transform: translateY(-40%);
      left: @corsetPadding;
      right: @corsetPadding;
    }

    h1 {
      color:@tenthGreen;
      text-align:center;
      margin-bottom: 0.4em;
      border-bottom: 1px dotted #ddd;
      padding-bottom: 0.1em;
    }
  }

  @import "body";

  //// Comments
  .comment {
    border-top: 1px dotted @tenthGreen;
    border-bottom: 1px dotted @tenthGreen;

    h3 {
      display:inline-block;
    }
    span.byline {
      display: inline-block;
      opacity: 60%;
      font-size: 0.8em;
      margin: 0 .5em;
    }

    .comment  {
      margin-left: 1em;
    }
  }



  //// Headers
  h1 {
    #fonts.headerFormat;
    margin:0;
  }

  h2 {
    #fonts.headingFont;
    font-size: 1.8em;
    padding: .5em 0 0;
    margin:0;
  }

  h3 {
    #fonts.headingFont;
    font-size: 1.5em;
    padding: .5em 0 0;
    margin:0;
    color: @tenthGreen;
  }

  div.singleHeader {
    p.byline {
      padding: 0;
      margin: 0;
    }

    h1 {
      padding: 0;
      margin-bottom:-0.2em;
    }
  }

  header.page-header {
    background-size: cover;
    background-position: center center;
    width: 100vw;
    max-width: @mainMaxWidth;
    padding: 25% @sectionPadding*2 1em;
    box-sizing: border-box;
    margin: 0 -@sectionPadding;
    position: relative;

    &::after {
      content: ' ';
      background: inherit;
      width: 150vw;
      height: ~"calc(100% + " @headerHeight ~" + 1em)";
      position: absolute;
      z-index: -1;
      filter: blur(1em);
      opacity: 0.6;
      left: -50vw;
      top: -@headerHeight;

    }

    color: #fff;
    text-stroke: 0.05em black;
    @blackIsh: fade(black, 30%);
    text-shadow:
              -1px -1px 0 @blackIsh,
              0 -1px 0 @blackIsh,
              1px -1px 0 @blackIsh,
              1px 0 0 @blackIsh,
              1px 1px 0 @blackIsh,
              0 1px 0 @blackIsh,
              -1px 1px 0 @blackIsh,
              -1px 0 0 @blackIsh;

    .byline {
      opacity: 60%;
      font-size: .8em;
      transition: opacity 1s;
    }
    &:hover .byline {
      opacity: 100%;
    }

    a:link, a:visited {
      color: #fff;
      border-bottom: 1px solid #ffffff00;
      transition: border .5s;
      line-height:1.1em;
      display:inline-block;
    }
    &:hover a:link,
    &:hover a:visited {
      border-color: #ffffff66;
    }
    a:hover {
      border-color: #ffffffaa;
    }
  }

}


//// External Link decoration
a[href*="//"]:not([href*='tenth.org']):not([href*='my.tenth.org']):not([href*='home.kurtz.es']):not([href^='#']):not([href^='/']):after { /* TODO remove Kurtz reference */
  content: '\f35d';
  #fonts.icons;
  opacity: 0.7;
  padding-left: .25em;
}


