article.tease {
  display: grid;
  grid-template-columns: 11em auto;
  padding-top: 1em;
  border-top: 1px solid #eee;
  margin-top: 1em;

  &:first-child {
    border-top: none;
  }

  img.tease-thumb {
    max-width:10em;
    max-height:10em
  }

  .tease-details {
    & {
      position: relative;
    }

    & > *:first-child > a {
      position: unset;
    }

    & > *:first-child > a:before {
      content: ' ';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }

    a {
      position: relative;
      z-index: 10;
    }

    & > *:first-child {
      padding-top: 0; // remvoe spacing above heading links
    }
  }

}