@import (reference) '_mixins';
@import (reference) 'links';


// App Nav Bar  ("Return to App")
nav.navbar.navbar-default.navbar-fixed-top {
  margin-top:-5px;
}
div.navbar-header.hidden-sm {
  display:none;
}
div.navbar-header.hidden-xs a {
  position: fixed;
  top: 0;
  z-index: 10000;
  background: #fee;
  @media (min-width: @iconicNavThreshold) {
    height:5em;
  }
  height: 3em;
  width: 100%;
  max-width: 1200px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}


body.touchpoint-template-default {

  // Compensate for TouchPoint styles
  margin: 5.5em 0 0;
  #fonts.bodyFont;
  font-size: initial;
  line-height: normal;
  background-color: @bodyBackgroundColor;

  .h1, .h2, .h3, h1, h2, h3 {
    font-size: initial;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  * {
    box-sizing: border-box;
  }

  // overrides values in _mixins.less
  @headerMaxWidth: 1200px;
  @contentMaxWidth: 800px;
  @footerMaxWidth: 1200px;

  .pull-right {
    float: none;
  }

  .center-block {
    margin: 0 auto;
  }

  .text-right {
    text-align: right;
    //margin-right: -0.9em;
  }
  .text-left {
    text-align: left;
  }

  header[role="banner"] {
    max-width: @headerMaxWidth;
  }

  div#site-footer > footer {
    max-width: @footerMaxWidth
  }

  main#site-content {
    &:not(.error) {
      max-width: @contentMaxWidth;
    }

    div > h2, article > h2, div.regform > h3 {
      #fonts.headerFormat;
    }
    h4:not(:first-child) {
      margin-top: 2em;
    }

    a.btn.btn-mini {
      padding: 0 .2em;
      display: inline-block;
    }

    .btn-group {
      display: flex;
      width:100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;

      .btn {
        flex: 1;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0.5em;
      }

    }


    a.btn:not(.btn-mini),
    input.btn,
    a#login-here,
    button,
    input[type='submit'] { // TODO much of this should be moved to the main style sheets.

      &[href^="/OnlineReg/Cancel/"] { // "Cancel this person" button
        font-size: 0.8em;
        font-weight: normal;
      }

      &.btn-xs.pull-right {
        float:right;
      }

      &.width100,
      &.btn-block {
        width:100%;
        text-align: center;
      }

    }


    //// LINKS
    article #main div a:not(.btn):not(.dropdown-item),
    article #main div .btn-link,
    article #main div a.btn.btn-sm.btn-link {
      #fonts.a;

      :hover {
        #fonts.a-hov;
      }
    }

    small.text-danger {
      color: @validationErrorColor;
    }

    small.text-primary {
      color: @tenthGreen;
      font-size: 0.8em;
    }
    .row .row small,
    .row .tp-input small {
      left: 1em;
      position: relative;
    }

    input[type='text'],
    input[type='password'],
    input[inputmode='numeric'],
    input[type='tel'],
    select {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid @secondaryBtnBgColor;
      width: 100%;
      background-color:#fff;
      &[disabled] {
        background-color:transparent;
        border: 0;
        opacity: 0.5;
      }
      &.input-validation-error {
        border-bottom: 1px solid @validationErrorColor;
      }
    }
    .money-input:before {
      background-color: @tenthGreen;
    }

    span.field-validation-error {
      color: @validationErrorColor;
      font-size:0.8em;
    }
    div.validation-summary-errors {
      color: @validationErrorColor;
    }

    input[type="checkbox"] {
      margin-top: 0.5em;
    }

    table {
      width: 100%;
      tbody tr:nth-child(odd) {
        background: #ffffff99;
      }
    }
    td {
      vertical-align: top;
      padding:.4em;
    }

    .panel-heading {
      height: fit-content;
      padding: .5em 0;

      & > h3 > .btn { // "Cancel this person" button
        margin:0;
      }
    }

    .panel-collapse {
      height: fit-content;
      overflow: hidden;
      transition: height @transitionTime;

      &:not(.in) {
        height: 0;
        overflow: hidden;
      }
    }

    .form-group:not(.text-center),
    .list-group {
      padding: 0.75em 0 0;
      border-top: 1px solid #eee;
      margin: 0.75em 0 0;

      .pull-right > *:last-child {
        margin-right: 0;
      }

      .col-sm-1,
      .col-xs-1 {
        flex:1;
        min-width: calc(100%/12);
      }
      .col-sm-2,
      .col-xs-2 {
        flex:2;
        min-width: calc(200%/12);
      }
      .col-sm-3,
      .col-xs-3 {
        flex:3;
        min-width: calc(300%/12);
      }
      .col-sm-4,
      .col-xs-4 {
        flex:4;
        min-width: calc(400%/12);
      }
      .col-sm-5,
      .col-xs-5 {
        flex:5;
        min-width: calc(500%/12);
      }
      .col-sm-6,
      .col-xs-6 {
        flex:6;
        min-width: calc(600%/12);
      }
      .col-sm-7,
      .col-xs-7 {
        flex:7;
        min-width: calc(700%/12);
      }
      .col-sm-8,
      .col-xs-8 {
        flex:8;
        min-width: calc(800%/12);
      }
      .col-sm-9,
      .col-xs-9 {
        flex:9;
        min-width: calc(900%/12);
      }
      .col-sm-10,
      .col-xs-10 {
        flex:10;
        min-width: calc(1000%/12);
      }
      .col-sm-11,
      .col-xs-11 {
        flex:11;
        min-width: calc(1100%/12);
      }
      .col-sm-12,
      .col-xs-12 {
        flex:12;
        min-width: calc(100%);
      }
      div {
        display: block;
      }
      div.list-group-item {
        display: flex;
        flex-wrap: wrap;

        & > div {
          position: relative;

        }
      }
    }

    .tp-radio:hover input ~ .switch, .tp-radio input:checked ~ span.switch {
      border-color: @tenthGreen;

      &:after {
        background-color: @tenthGreen;
      }
    }

    address {
      opacity: 0.6;
      font-size: 0.8em;
    }

    //// login page stuff
    .loginHeader {
      position: relative;
      z-index:1;
      padding: 21% 1em 0;
      max-width:250px;
      background-size: contain;
      background-image: url('https://c4265878.ssl.cf2.rackcdn.com/brett.2002051701.TP-logo-blue-no-slogan-300x62.png');
      background-repeat: no-repeat;
      background-position:center;
      margin: 0 auto;
    }

    .form-group .text-center {
      text-align: center;
    }

    .form-actions {
      padding-top: 1.5em;
    }

    .form-group.passcode { // 2FA??
      &,
      & > .passcode-title {
        margin-bottom: 2em;
      }



      .hidden-xs {
        display:none;
      }

    }

    .account {
      .panel {
        a.forgot {
          right: 0;
          border-radius: 0;
          margin-top: 2px;
          color: @secondaryBtnFgColor;
          background-color: @secondaryBtnBgColor;
          top: unset;
          font-size: 0.8em;
          line-height: 1.7em;
        }
      }

      .form-header {
        font-size: 1.7em;
      }

      .alert {
        background-color: fade(@validationErrorColor, 20%);
        color: @validationErrorColor;
        border: @validationErrorColor 1px dotted;
        max-width: 360px;
        width:auto;
        font-size: 0.85em;
        padding: 1em;
        margin-bottom:0;

        button.close {
          display: none;
        }
      }

      .no-header {
        display:none;
      }

      .signin-with {
        padding: 0 1em;
      }
    }

    // GIVING PAGE
    div#main.giving {
      .gift.well select {
        max-width:20em;
        margin:0 auto;
        text-align: center;
        text-align-last: center;
      }

      div.col-sm-8.col-sm-offset-2 {
        text-align: center;
      }

      div.gift,
      div.payment-container,
      div.panel .panel {
        padding:1em;
        border: #999 solid 1px;
        border-radius: 0;
        margin-bottom: -1px;
        transition: all 1s;

        &.recurring.well {
          padding-bottom: 3em;

          .text-center {
            text-align: center;
            float: left;
            width:100%;
            display:block;
            position: relative;

            &.col-xs-12 { // recurrence sentence
              width:100%;
              position: absolute;
              float:left;
              left: 0;
            }

            & > div.popover { // date picker
              float: none;
              width: auto;
              z-index: 1000;
              margin-top: -10px;

              .datepicker table tr td.active,
              .datepicker-months table tr td span.month.active,
              .datepicker-years table tr td span.year.active {
                background: @tenthGreen;
                border-radius: 0;
              }

              div.control-group.form-group {
                margin:0;
                padding:0;
              }

            }

            @import "TouchPoint/bootstrap/popovers";

          }

        }
        &.well {
          div.form-group {
            border-top: 0;
            padding-bottom: 1em;
          }
        }

        div.edit-payment-method {
          width: 100%;
          max-height: fit-content;
          padding-left: 200%/12;

          .row .form-group {
            border-top:0;
          }

          & > .row:first-of-type {
            margin-top: 0;
          }

        }

        button.close {
          margin-top: .5em;
          background-color: #fff;
          color:@validationErrorColor;
          border: 1px solid @validationErrorColor
        }

        .control-label,
        .tp-input.filled .control-label,
        .tp-input.focus .control-label {
          top: -5px;
          left: 1em;
          font-size: 0.7em;
          position: relative;
        }

        h4 {
          #fonts.headingFont;
          padding:1em 0;
        }

        & > h4 { // TODO make equivalent to h2 formatting
          font-size: 1.6em;
          padding-top:0;
        }

        .tp-checkbox .checkmark {
          width: 22px;
          height: 22px;
        }
        .tp-checkbox input:checked ~ .checkmark {
          background-color: @tenthGreen;
        }
      }
    }

    i.fa.fa-5x.fa-check-circle.text-success {
      color: green;
      text-align: center;
    }

    .panel-body.text-center {
      text-align: center;
    }

    .table-responsive.text-left {
      text-align: left;
    }

    //table td {
    //  padding-left: 0;
    //}

    table.table.table-bordered {
      padding-top: 2em;
    }

    .page-header.text-center {
      padding-bottom: 2em;
    }

    .text-center > p {
      text-align: center;
    }
  }

  .row {
    margin-top: 1em;
  }
}