@import (reference) '_mixins';
@import (reference) 'links';


// App Nav Bar  ("Return to App")
nav.navbar.navbar-default.navbar-fixed-top {
  margin-top:-5px;
}
div.navbar-header.hidden-sm {
  display:none;
}
div.navbar-header.hidden-xs a {
  position: fixed;
  top: 0;
  z-index: 10000;
  background: #fee;
  @media (min-width: @iconicNavThreshold) {
    height:5em;
  }
  height: 3em;
  width: 100%;
  max-width: 1200px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}


body.touchpoint-template-default {

  // Compensate for TouchPoint styles

  // Necessary for various errors to prevent logo from being weird.
  header h1 {
    font-size: 1em;
  }

  // Necessary for One-Time Link page
  #fonts.bodyFont;
  margin: 5.5em 0 0;
  @media (max-width: 835px) {
    margin-top: 3em;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  // overrides values in _mixins.less
  @headerMaxWidth: 1200px;
  @contentMaxWidth: 800px;
  @footerMaxWidth: 1200px;

  .pull-right {
    float: none;
  }

  .center-block {
    margin: 0 auto;
  }

  .text-right {
    text-align: right;
    //margin-right: -0.9em;
  }
  .text-left {
    text-align: left;
  }

  header[role="banner"] {
    max-width: @headerMaxWidth;
  }

  div#site-footer > footer {
    max-width: @footerMaxWidth
  }

  main#site-content {
    &:not(.error) {
      max-width: @contentMaxWidth;
    }

    // Hide account dropdown
    .col-sm-12 > .dropdown.pull-right,
    .col-sm-12 > button.btn.btn-link.pull-right {
      display: none;
    }

    div > h2, article > h2, div.regform > h3 {
      #fonts.headerFormat;

      strong {
        font-weight: normal;
      }
    }

    h4:not(:first-child) {
      margin-top: 2em;
    }

    a.btn.btn-mini {
      padding: 0 .2em;
      display: inline-block;
    }

    .btn-group {
      display: flex;
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;

      & > * {
        flex: 1 1 0;
      }

      .btn {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0.5em 1em;
        height: auto;
        width: 100%;
        white-space: nowrap;
      }
    }

    .table-responsive {
      overflow: auto;
      transition: max-height 1s;
      max-height: 0;

      &.expand-leave-active {
        max-height: 0;
      }

    }


    //// LINKS
    article #main div a:not(.btn):not(.dropdown-item),
    article #main div .btn-link,
    article #main div a.btn.btn-sm.btn-link {
      #fonts.a;

      :hover {
        #fonts.a-hov;
      }
    }

    small.text-danger {
      color: @validationErrorColor;
    }

    small.text-primary {
      color: @tenthGreen;
      font-size: 0.8em;
    }

    .row .row small,
    .row .tp-input small {
      left: 1em;
      position: relative;
    }

    .money-input:before {
      background-color: @tenthGreen;
    }

    span.field-validation-error {
      color: @validationErrorColor;
      font-size: 0.8em;
    }

    div.validation-summary-errors {
      color: @validationErrorColor;
    }

    p.help-block {
      color: @helpTextColor;
      font-size: 0.8em;
    }

    input[type="checkbox"] {
      margin-top: 0.5em;
    }

    table {
      width: 100%;

      tbody tr:nth-child(odd) {
        background: #ffffff99;
      }
    }

    td {
      vertical-align: top;
      padding: .4em;
    }

    .panel-group {
      padding: 0.75em .5em;
    }

    .panel-heading {
      height: fit-content;
      padding: .5em 0;

      & > h3 > .btn { // "Cancel this person" button
        margin: 0;
      }
    }

    .panel-collapse {
      height: fit-content;
      overflow: hidden;
      transition: height @transitionTime;

      &:not(.in) {
        height: 0;
        overflow: hidden;
      }
    }

    /// For file upload forms
    .form-inline.docBlock {
      margin-top: 0.5em;
    }

    .form-group:not(.text-center) .docBlock div {
      display: inline;
    }

    .row.actions-row {
      display: flex;
    }

    .form-group:not(.text-center),
    .row.actions-row {
      padding: 0;
      margin: 0 0 0.75em;
    }

    .upload-doc-options input.btn.btn-block {
      width: auto;
    }

    .form-group:not(.text-center),
    .list-group,
    .row {

      .pull-right > *:last-child {
        margin-right: 0;
      }

      & > * > input {
        width:100%;
      }
      & > * input[type="radio"] {
        width: auto;
      }

      div.list-group-item {
        display: flex;
        flex-wrap: wrap;

        & > div {
          position: relative;

        }
      }
    }

    .tp-radio {
      position: relative;
      top: 0.2em;
      width: 30px;
    }

    .tp-radio:hover input ~ .switch, .tp-radio input:checked ~ span.switch {
      border-color: @tenthGreen;

      &:after {
        background-color: @tenthGreen;
      }
    }
    .tp-checkbox input:checked ~ .checkmark {
      background-color: @tenthGreen;
      &::after {
        top: 2px;
        left: 7px;
      }
    }


    address {
      opacity: 0.6;
      font-size: 0.8em;
    }

    //// login page stuff
    .loginHeader {
      position: relative;
      z-index: 1;
      padding: 21% 1em 0;
      max-width: 250px;
      background-size: contain;
      background-image: url('https://c4265878.ssl.cf2.rackcdn.com/brett.2002051701.TP-logo-blue-no-slogan-300x62.png');
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
    }

    a#loginbt {
      margin-top: 1.5em;
    }

    .form-group .text-center {
      text-align: center;
    }

    .form-actions {
      padding-top: 1.5em;
    }

    .form-group.passcode { // 2FA??
      &,
      & > .passcode-title {
        margin-bottom: 2em;
      }


      .hidden-xs {
        display: none;
      }

    }

    .account {
      .panel {
        a.forgot {
          right: 0;
          border-radius: 0;
          margin-top: 2px;
          color: @secondaryBtnFgColor;
          background-color: @secondaryBtnBgColor;
          top: unset;
          font-size: 0.8em;
          line-height: 1.7em;
        }
      }

      .form-header {
        font-size: 1.7em;
      }

      .alert {
        background-color: fade(@validationErrorColor, 20%);
        color: @validationErrorColor;
        border: @validationErrorColor 1px dotted;
        max-width: 360px;
        width: auto;
        font-size: 0.85em;
        padding: 1em;
        margin-bottom: 0;

        button.close {
          display: none;
        }
      }

      .no-header {
        display: none;
      }

      .signin-with {
        padding: 0 1em;
      }
    }

    // GIVING PAGE
    div#main.giving {
      .gift.well select {
        max-width: 20em;
        margin: 0 auto;
        text-align: center;
        text-align-last: center;
      }

      div.col-sm-8.col-sm-offset-2 {
        text-align: center;
      }

      .btn {
        text-align:center;
      }
      div.row {
        display: block;
      }
      div.row.actions-row {
        display: flex;
      }

      div.gift,
      div.payment-container,
      div.panel .panel {
        padding: 1em;
        border: #999 solid 1px;
        border-radius: 0;
        margin: 0.9em .3em -1px;
        transition: all 1s;

        &.recurring.well {
          padding-bottom: 3em;
          margin-bottom: 1.2em;

          .text-center {
            text-align: center;
            float: left;
            width: 100%;
            display: block;
            position: relative;

            &.col-xs-12 { // recurrence sentence
              width: 100%;
              position: absolute;
              float: left;
              left: 0;
            }

          }

        }

        &.well {
          div.form-group {
            border-top: 0;
            padding-bottom: 1em;
          }
        }

        div.edit-payment-method {
          width: 100%;
          max-height: fit-content;
          padding-left: 200%/12;

          .row .form-group {
            border-top: 0;
          }

          & > .row:first-of-type {
            margin-top: 0;
          }

        }

        button.close {
          margin-top: .5em;
          background-color: #fff;
          color: @validationErrorColor;
          border: 1px solid @validationErrorColor
        }

        .control-label,
        .tp-input.filled .control-label,
        .tp-input.focus .control-label {
          top: -5px;
          left: 1em;
          font-size: 0.7em;
          position: relative;
        }

        h4 {
          #fonts.headingFont;
          padding: 1em 0;
        }

        & > h4 { // TODO make equivalent to h2 formatting
          font-size: 1.6em;
          padding-top: 0;
        }

        .col-sm-12:first-child {
          margin-bottom: 3em;
        }

        span.multiselect__single {
          text-align:center;
        }

        input.multiselect__input {
          border: 0;
          text-align: center;
        }

        span.multiselect__option {
          padding-top: 12px;
          text-align: center;
        }

        span.multiselect__option.multiselect__option--highlight {
          background: #49917b;
        }

        .multiselect__tags {
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid black;
        }

        .frequency-select.col-sm-12 {
          margin-bottom: 0;
        }
      }
    }

    i.fa.fa-5x.fa-check-circle.text-success {
      color: green;
      text-align: center;
    }

    .panel-body.text-center {
      text-align: center;
    }

    .table-responsive.text-left {
      text-align: left;
    }

    table.table.table-bordered {
      padding-top: 2em;
    }

    .text-center > p {
      text-align: center;
    }

    label.control-label,
    label.doc {
      font-size: 1em;
    }
  }

  //// Sweet Alert Shimming
  .sweet-alert.showSweetAlert.visible {
    border-radius: 0;
    z-index: 10000000;
  }
  .sweet-alert h2 {
    margin: 0;
    padding: 1em;
  }

  //// Date Pickers
  div.popover {
    max-width: 300px;
    display: block;
    background: #fffffffa;

    .datepicker table tr td.active,
    .datepicker-months table tr td span.month.active,
    .datepicker-years table tr td span.year.active {
      background: @tenthGreen;
      border-radius: 0;
    }

    .popover-content {
      top: 1em;
      position: relative;
    }

    //&::before {
    //  content: ' ';
    //  position: absolute;
    //  top:0;
    //  left:0;
    //  bottom:0;
    //  right:0;
    //  background:#ffffffdd;
    //  z-index:-1;
    //}

    div.control-group.form-group {
      margin:0;
      padding:0;
    }


  }
  @import "TouchPoint/bootstrap/popovers";
}