{% extends "base.twig" %}

{% block corset %}
	<article class="archive archive-{{ type }}">
		<section class="article-content">
			{% block article_content %}
				{% if not post.thumbnail %}
					{% block archive_header %}
						<div class="archiveHeader">
							<div class="archive-type-label">{{ type }}</div>
							<h1 class="article-h1">{{ title }}</h1>
						</div>
					{% endblock %}
				{% endif %}
				<div class="article-body">
					{% block article_body %}
						{{ post.content }}
					{% endblock %}
				</div>
			{% endblock %}
		</section>
		{% block article_footer %}{% endblock %}
	</article>
{% endblock %}
