{% extends 'archive.twig' %}

{% block header %}
    <header class="page-header tall-50" style="background-image:url('{{ context.dir~'/assets/images/localmap.jpg' }}');">
        {% filter shortcodes %}
            [TP-Inv-Map]
        {% endfilter %}
        <div class="page-header-content">
            <h1 class="article-h1">{{ title }}</h1>
        </div>
    </header>
{% endblock %}

{% block article_content_header %}
    <div class="archiveHeader">
        {% filter shortcodes %}
            [TP-Inv-Filters]
        {% endfilter %}
    </div>
{% endblock %}

{% block article_content_body %}
    {% filter shortcodes %}
        [TP-Inv-List includeCss=false class=box-list itemClass="box-tease"]
    {% endfilter %}
{% endblock %}