{% extends 'single.twig' %}

{% block article_content %}
	<h1 class="archive-h1">{{ title }}</h1>
	<div class="article-body">
		{% for post in posts %}
			{% set post = TimberPost(post) %}
			{% include ['partials/teases/tease-'~post.post_type~'.twig', 'partials/teases/tease.twig'] with { class: 'teaser' } %}
		{% endfor %}
		{% include ['partials/pagination.twig'] %}
	</div>
{% endblock %}